{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Всі кінотеатри {% endblock title%}

{% block content %}

<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/banner_forms.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

    <link rel="stylesheet" href="{% static 'cinema/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/style.css'%}">

</head>

<div>
    <div class="row">
        <div class="col-12 text-center">
            <h3>перелік кінотеатрів</h3>
        </div>
    </div>
    <div class="cinema_preview_container row mt-4" align="center">
    {% for cinema in all_cinemas %}
        <div class="col-8 col-sm-6 col-md-4 col-xl-2 mx-3 text-center">

            <div class="row" align="right">
                <div class="col-12">
                    <a class="delete_link" href="{% url 'cinema:del_cinema' pk=cinema.id %}" ><img class="del_icon_2" src="{% static 'cinema/images/del_image_2.png' %}"></a>
                    <a href="{% url 'cinema:cinema_detail' pk=cinema.id %}">
                        {% if cinema.logo.image %}
                            <img src="{{ cinema.logo.image.url }}" class="cinema_preview"/>
                        {% else %}
                            <img src={% static "cinema/images/simple_image_background.jpg" %} class="cinema_preview"/>
                        {% endif %}
                    </a>
                </div>
            </div>
            <p id="title_cinema">{{ cinema.title_cinema_uk }}</p>
        </div>
    {% endfor %}
    <div class="col-8 col-sm-6 col-md-4 col-xl-2 mx-auto mx-md-3  text-center" align="center">
        <a href="{% url 'cinema:new_cinema' %}" class="ml-3" >
            <img src="{% static 'cinema/images/green_plus.png' %}" class="cinema_preview"/>
        </a>
        <p>додати кінотетр</p>
    </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            
            

        </div>
    <div>
</div>

<script type="text/javascript">
    $('.delete_link').click(function(event) {
        var link =  $(this);
        var cinema_name = $(this).parent().parent().parent().find('#title_cinema').text()
        console.log(cinema_name)
        event.preventDefault();
        swal({
            title: `Ви дійсно бажаєте видалити сторінку кінотеатра "${cinema_name}"?`,
            text: "Всі данні, в тому числі файли забражень будуть видалені",
            icon: "warning",
            buttons: ["Відміна", "Видалити"],
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                window.location = this;
            }
        });
    });
    
</script>
    
{% endblock content %}