{% extends "layout/_base_cinema.html" %}

{% load bootstrap4 %}
{% load static %}



{% block title %}изменения данных о пользователе{% endblock title%}


{% block content %}

</head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
<head>


<div class="log-in-bg rounded">
    <div class="row">
        <div class="col-12 text-center">
            <img class="mb-4 d-none d-md-inline" src="{% static "users/images/logo_chang_user_data.png" %}" alt="" width="72" height="72">
            <h1 class="h3 mb-1 font-weight-normal text-dark">СТРАНИЦА ПОЛЬЗОВАТЕЛЯ</h1>
        </div>
    </div>
    <form method="post" class="mx-5">
        {% csrf_token %}

        <div class="row">
            <div class="col-12 mb-5">
                <h6 class="h6 mb-5 text-success">{{ message }}</h6>
                {% for field in form_user_data %}
                    {% for error in field.errors %} 
                        <p class="my-1 text-danger">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form_user_data.non_field_errors %}
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block ">
                        <p class="inline align-middle">{{ form_user_data.name.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.name }}</p>
                    </div>
                </div>
                {% comment %} <p>{{ form_user_data.name.errors }}</p> {% endcomment %}

                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p>{{ form_user_data.surname.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.surname }}</p>
                    </div>
                </div>
                {% comment %} <p>{{ form_user_data.surname.errors }}</p> {% endcomment %}

                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p>{{ form_user_data.nickname.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.nickname }}</p>
                    </div>
                </div>
                {% comment %} <p>{{ form_user_data.nickname.errors }}</p> {% endcomment %}
                
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p>{{ form_user_data.email.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.email }}</p>
                    </div>
                </div>
                {% comment %} <p>{{ form_user_data.email.errors }}</p> {% endcomment %}


                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p>{{ form_user_data.address.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.address }}</p>
                    </div>
                </div>
                {% comment %} <p>{{ form_user_data.address.errors }}</p> {% endcomment %}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12 container_user_data">
                        <div class="radio_point_user_data"> {{ form_user_data.language.label_tag }}</div>

                        {% for language in form_user_data.language %}
                            <div class="radio_point_user_data">{{ language }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container_user_data">
                        <div class="radio_point_user_data"> {{ form_user_data.sex.label_tag }}</div>

                        {% for sex in form_user_data.sex %}
                            <div class="radio_point_user_data">{{ sex }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p class="inline align-middle">{{ form_user_data.phone_number.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.phone_number }}</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p class="inline align-middle">{{ form_user_data.town.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.town }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p class="inline align-middle">{{ form_user_data.born.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.born }}</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block">
                        <p class="inline align-middle">{{ form_user_data.password.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.password }}</p>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block ">
                        <p class="inline align-middle">{{ form_user_data.confirm_password.label_tag }}</p>
                    </div>
                    <div class="col-md-8 col-12 text-md-left">
                        <p>{{ form_user_data.confirm_password }}</p>
                    </div>
                </div>
                
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 col-12 text-md-left text-center d-none d-md-block ">
                            <p class="inline align-middle">{{ form_user_data.card_id.label_tag }}</p>
                        </div>
                        <div class="col-md-8 col-12 text-md-left">
                            <p>{{ form_user_data.card_id }}</p>
                        </div>
                    </div>
                    
                </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-lg btn-sign-in">сохранить</button>
            </div>
        </div>
    </form>
</div>        
        {% endblock content %}
        {% comment %} <button type="submit" class="btn btn-secondary">Submit</button> {% endcomment %}
    

