{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block title %} все фильмы {% endblock title%}

{% block content %}

<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/pages_general.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/trans.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cinema/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/style.css'%}">

</head>
{% get_current_language as LANGUAGE_CODE %}
<div id="main_form_container">
    <form method="post" novalidate enctype="multipart/form-data" action=".">
        {% csrf_token %}

        <div class="row">
            <div class="col-10 mt-3 mb-3">
                {% for error in movie_main_form.title_movie.errors %} 
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
                {% for error in movie_main_form.non_field_errors %}
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <ul class="nav nav-tabs justify-content-end row" id="myTab" role="tablist">
            <li class="nav-item col-6 col-sm-5 col-md-4 col-xl-3">
              <a class="nav-link active" id="uk-block-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Українська мова</a>
            </li>
            <li class="nav-item col-6 col-sm-5 col-md-4 col-xl-3">
              <a class="nav-link" id="ru-block-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Русский язык</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row mt-3 mb-3">
                    <div class="col-12 col-xl-2">
                        {{ movie_main_form.title_movie_uk.label_tag }}
                    </div>
                    <div class="col-12 col-xl-5">
                        {{ movie_main_form.title_movie_uk }}
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-12 col-xl-2">
                        {{ movie_main_form.description_movie_uk.label_tag }}
                    </div>
                    <div class="col-12 col-xl-5">
                        {{ movie_main_form.description_movie_uk }}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-3 mb-3">
                    <div class="col-12 col-xl-2">
                        {{ movie_main_form.title_movie_ru.label_tag }}
                    </div>
                    <div class="ccol-12 col-xl-5">
                        {{ movie_main_form.title_movie_ru }}
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-12 col-xl-2">
                        {{ movie_main_form.description_movie_ru.label_tag }}
                    </div>
                    <div class="col-12 col-xl-5">
                        {{ movie_main_form.description_movie_ru }}
                    </div>
                </div>
            </div>
          </div>

          
        <div class="row" >
            <div class="col-10 mt-3 mb-3">
                {% for error in movie_main_form.description_movie.errors %} 
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        
        <div class="row" id="main_image_container" align="center">

            <div class="col-12 col-md-6 col-lg-4 col-xl-2 justify-content-center align-self-center">
                {{ movie_main_image_form.image.label_tag }}
            </div>
             
            <div class="col-12 col-md-6 col-xl-3 justify-content-center align-self-center">
                {{ movie_main_image_form.image }}
            </div>
            
            <div class="col-12 col-md-6 col-xl-2 justify-content-center align-self-center text-center">
                <input type="button" value="додати" id="add_button" class="my-2 my-md-5 btn btn-outline-dark btn-sm btn-block">
            </div>
            <div class="col-12 col-md-6 col-xl-2 col-md-6 justify-content-center align-self-center text-center">
                <input type="button" value="видалити" id="del_button" class="my-2 my-md-5 btn btn-outline-dark btn-sm btn-block">
                {{ movie_main_image_form.DELETE_IMAGE }}
            </div>
            
        </div>

        <div class="row mb-4">
            <div class="col-12 col-xl-2 mt-3 mt-xl-5 justify-content-center" align="center">
                <p><strong>Галерея малюнків:</strong></p>
            </div>
            <div class="col-10" >
                <div id="galery_container">
                    {{ movie_image_formset.management_form }}
                    <div class="row justify-content-center">
                        {% for movie_photo_form in movie_image_formset %}
                            <div class="col-12 col-sm-4 col-md-3 col-xl-3 mx-3 text-center">
                                {% for hidden in movie_photo_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {{ movie_photo_form.image }}
                                {{ movie_photo_form.DELETE }}
                                    <input type="button" value="додати" id="add_button" class="btn btn-outline-dark btn-sm btn-block mx-auto">
                                    <input type="button" value="видалити" id="del_button" class="btn btn-outline-dark btn-sm btn-block mx-auto">
                                {% for error in movie_photo_form.image.errors %} 
                                    <p class="my-1 text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                            <div class="col-6 col-md-3 col-xl-3 empty_button_container justify-content-center align-self-center my-0 my-xl-3 mx-3">
                                <input type="button" value="Додати фото" id="add_more" class="btn btn-outline-dark">
                            </div>
                            <div id="empty_form_container" style="display:none">
                                <div class="col-16 col-sm-4 col-md-3 col-xl-3 mx-3 text-center">
                                    {{ movie_image_formset.empty_form.image }}
                                    {{ movie_image_formset.empty_form.DELETE }}
                                    <input type="button" value="додати" id="add_button" class="btn btn-outline-dark btn-sm btn-block mx-auto">
                                    <input type="button" value="видалити" id="del_button" class="btn btn-outline-dark btn-sm btn-block mx-auto">
                                </div>
                            </div>
                            <div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mb-3">

            <div class="col-12 col-lg-10 col-xl-2">
                {{ movie_main_form.url_to_trailer.label_tag }}
            </div>
            <div class="col-12 col-lg-10 col-xl-5 justify-content-center align-self-center">
                {{ movie_main_form.url_to_trailer }}
            </div>
        </div>

        <div class="row mt-6 mb-3">
            <div class="col-6 col-xl-2 justify-content-center align-self-center">
                <p><strong>тип кіно:</strong></p>
            </div>
            <div class="col-12 col-xl-5">
                <div class="form-check form-check-inline">
                    {{ movie_main_form.type_3d }} <span><strong>3D</strong>
                </div>
                <div class="form-check form-check-inline">
                    {{ movie_main_form.type_2d }} <span><strong>2D</strong>
                </div>
                <div class="form-check form-check-inline">
                    {{ movie_main_form.type_IMAX }} <span><strong>IMAX</strong>    
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 col-lg-10 col-xl-2 justify-content-center align-self-center">
                {{ movie_seo_block.url_seo.label_tag }}
            </div>
            <div class="col-12 col-lg-10 col-xl-5">
                {{ movie_seo_block.url_seo }}
                {% for error in movie_seo_block.url_seo.errors %} 
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 col-lg-10 col-xl-2 justify-content-center align-self-center">
                {{ movie_seo_block.title_seo.label_tag }}
            </div>
            <div class="col-12 col-lg-10 col-xl-5">
                {{ movie_seo_block.title_seo }}
                {% for error in movie_seo_block.title_seo.errors %} 
                    <p class="my-1 text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 col-lg-10 col-xl-2">
                {{ movie_seo_block.keyword_seo.label_tag }}
            </div>
            <div class="col-12 col-lg-10 col-xl-5">
                {{ movie_seo_block.keyword_seo }}
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12 col-lg-10 col-xl-2">
                {{ movie_seo_block.description_seo.label_tag }}
            </div>
            <div class="col-12 col-lg-10 col-xl-5">
                {{ movie_seo_block.description_seo }}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 text-center">
                <input type="submit" value="зберігти" id="add_button" class="btn btn-outline-dark btn-sm mx-3">
            </div>
        </div>
    </form>
</div>
<div>
</div>

{% if messages %}
    {% for message in messages %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% if message.tags == 'error' %}
            <script type=text/javascript>toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
        }</script>
        {% endif %} 
    {% endfor %}
{% endif %}

{% endblock content %}