# ignore from python:
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Ignore from django project
static/

# ignore from environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.dev
.env.prod.db


# ignore from VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history