{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %} всі новини {% endblock title%}

{% block content %}

<head>
    <script type="text/javascript" src="{% static 'pages/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/popper.min.js' %}"></script>
    <script type="application/json" src="{% static 'pages/js/popper.min.js.map' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/bootstrap.min.js' %}"></script>
    <script type="application/json" src="{% static 'pages/js/bootstrap.min.js.map' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/pages_general.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/table_scripts.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'pages/js/toastr.min.js' %}"></script>  {% endcomment %}
    {% comment %} <script type="text/javascript" src="{% static 'pages/js/sweetalert.min.js' %}"></script>  {% endcomment %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="{% static 'pages/css/bootstrap.min.css' %}">
    <link rel="application/json" href="{% static 'pages/css/bootstrap.min.css.map' %}">

    <link rel="stylesheet" href="{% static 'pages/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/js/DataTables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'pages/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/toastr.css' %}" media="all">

    <link rel="icon" href="{% static 'pages/images/cinema_logo_2.png' %}">


</head>
{% load get_classname_filter %}
<div id="cinema_container">
        <div class="row">
            <div class="col-12 col-xl-5 text-center text-xl-right my-0 my-xl-4">
                <h3>Список сторінок</h3>        
            </div>
            <div class="col-12 col-xl-3 text-center text-xl-right mb-4 my-0 my-xl-4 offset-xl-2">
                <a class="btn btn-secondary" href="{% url 'pages:create_page' %}"> <img src="{% static 'pages/images/plus_for_button.png' %}" class="logo_tables_command brand-image img-circle"> створити сторінку </a>        
            </div>
        </div>
        <div class="row mx-5" >
            <div class="col-12 col-xl-10">
                <div class="card py-3 px-4">
                    <div class="card-body table-responsive p-0 ">
                        <table id="pages_id" class="row-border" style="width:100%">
                            <thead>
                            <tr>
                                <th>назва</th>
                                <th>дата створення</th>
                                <th>статус</th>
                                <th class="align-middle"> </th>
                                <th class="align-middle"> </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for page in pages_list %}
                                    <tr>
                                        <td><stront>{{ page.title|default_if_none:"-----" }}</stront></td>
                                        <td>{{ page.date_created|default_if_none:"-----" }}</td>
                                        <td>{{ page.is_active|yesno:"ВКЛ,ВИМК"}}</td>
                                        {% if page|classname == 'CustomPages' %}
                                            <td><a href="{% url 'pages:page_detail' pk=page.id %}"><img src="{% static 'pages/images/pencil.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                                        {% elif page|classname == 'MainPage' %}
                                            <td><a href="{% url 'pages:main_page_detail' pk=page.id%}"><img src="{% static 'pages/images/pencil.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                                        {% elif page|classname == 'Contact' %}
                                            <td><a href="{% url 'pages:contacts_detail' pk=page.id%}"><img src="{% static 'pages/images/pencil.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                                        {% endif %}
                                        {% if page.is_undeleteble %}
                                            <td> </td>
                                        {% else %}
                                            <td><a href="{% url 'pages:page_del' pk=page.id %}" id="delete_link"><img src="{% static 'pages/images/bin.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}                       
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <script type=text/javascript>toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "15000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                      }</script>
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
<script type="text/javascript">

$('#delete_link').click(function(event) {
    console.log(this)
    var link =  $(this);
    var page_name = $(this).parent().prevAll().last().html()
    event.preventDefault();
    swal({
        title: `Ви дійсно бажаєте видалити сторінку "${page_name}"?`,
        text: "Всі данні, в тому числі файли забражень будуть видалені",
        icon: "warning",
        buttons: ["Відміна", "Видалити"],
        dangerMode: true,

    })
    .then((willDelete) => {
        if (willDelete) {
            window.location = this
            
        }
    });
});

</script>

{% endblock content %}
