{% extends "layout/_base_pages.html" %}
{% load get_range_filter %}

{% load static %}

{% block content %}

<head>
    

    {% comment %} <link rel="stylesheet" href="/path/to/seatLayout.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'pages/js/movie-seat-layout-master/src/bin/seatLayout/seatLayout.css' %}">

    <script type="text/javascript" src="{% static 'pages/js/jQuery_3.6.0.js' %}"></script>  
    <script type="text/javascript" src="{% static 'pages/js/movie-seat-layout-master/src/bin/seatLayout/seatLayout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pages/js/bootstrap.min.js' %}"></script>


</head>

<style>
    .square {
      height: 30px;
      width: 30px;
      background-color: Orange;
    }
</style>

<div class="row">
    <div class="col-4">
        <p>{{ show.date_show|date:"j E" }}, {{ show.time_show }}, {{show.cinema_hall.cinema_hall_name}}</p>
    </div>
</div>
<div class="row mb-5">
    <div class="col-2">
        <p>Ціна в гривнях: <span id="ticket_cost">{{show.cost}}</span></p>
    </div>
    <div class="col-3 d-flex">
        <span>Заброньовано: </span><div class="square mx-3" style="background-color: Gray;"></div>
    </div>
    <div class="col-7 d-flex">
        <p>Ваше замовлення:</p>
        <div class="border border-warning mx-3 px-3 py-2">
            <span>квитків: </span><span class="text-danger" id="tickets_numbers">0</span>
            <span>сумма: </span><span class="text-danger" id="summ">0</span><span> грн.</span>
        </div>
    </div>
</div>
<div id="place_container">
    {% comment %} {{ schema|json_script:'schema' }} {% endcomment %}
    <p class="d-none" id="show_number">{{ show.id }}</p>

    {% for index, quantity in show.cinema_hall.schema_hall.items %}
    <div class="row my-1 align-items-center" id="hall_schema_container">
        <div class="col-2">
            <p>Ряд {{index}}</p>
        </div>
        <div class="col-10 d-flex justify-content-center mx-auto">
            {% for place in quantity|get_range %}
                <div class="square mx-1 small" style="cursor: pointer;" align="center" id="free_place:{{index}}:{{place}}">{{ place|add:"1" }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="row text-center my-3">
    <div class="col-6">
        <button class="book_button" id="book_button">Заброньувати</button>
    </div>
    <div class="col-6">
        <button class="buy_button" id="buy_button">Купити</button>
    </div>
</div>

{{ booked_tickets_id|json_script:'booked_tickets_id' }}

<script>
 
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      };


    var characters = new Object()
    var character_objects = new Object()

    booked_tickets_id = JSON.parse(document.getElementById('booked_tickets_id').textContent)

    for(ticket_id of booked_tickets_id){
        book_code = ticket_id.replaceAll('"', '').replace(',', ':')
        bocked_object = $('div[id$="'+ book_code +'"]')
        //console.log(bocked_object)
        //bocked_object.hide()
        bocked_object.css({"border": "none", "background-color": "Grey"}).animate({
            borderWidth: 4
        }, 50);

        bocked_object.prop('id', function(_, currentID){
            return currentID.replace('free', 'booked');
        })

    }



    $('#place_container').on('click', 'div[id^=free_place]', function(){
        $(this).css({"border": "0 solid #008000", "background-color": "#7CFC00"}).animate({
            borderWidth: 4
        }, 50);
        var current_character = $(this).prop('id').split(/:/u).slice(-2);
        var test_object = {[current_character]: ''}
        characters[[current_character]] = ''
        console.log(characters)
        character_objects[[current_character]] = ($(this))[0]
        var plus_number = +$('#tickets_numbers').text() + 1;
        $('#tickets_numbers').text(plus_number)
        var summ_number = +$('#summ').text() + +($('#ticket_cost')[0].outerText)
        $('#summ').text(summ_number)
        $(this).prop('id', function(_, currentID){
            return currentID.replace('free', 'selected');
        })
        console.log(character_objects)
    });


    $('#place_container').on('click', 'div[id^=selected_place]', function(){
        
        $(this).css({"border": "none", "background-color": "Orange"}).animate({
            borderWidth: 4
        }, 50);
        var current_character = $(this).prop('id').split(/:/u).slice(-2).join(",");
        delete characters[[current_character]]
        delete character_objects[[current_character]]

        var minus_number = +$('#tickets_numbers').text() - 1;
        $('#tickets_numbers').text(minus_number)

        var minus_number = +$('#summ').text() - +($('#ticket_cost')[0].outerText)
        $('#summ').text(minus_number)

        $(this).prop('id', function(_, currentID){
            return currentID.replace('selected', 'free');
        })
    });


    $('#book_button, #buy_button').click(function(){
        for(booked_place in character_objects){
            place = character_objects[booked_place]
            $(place).css({"border": "none", "background-color": "Grey"}).animate({
                borderWidth: 4
            }, 50);

            $(place).prop('id', function(_, currentID){
                return currentID.replace('selected', 'booked');
            })
        }


        if ($(this).hasClass('book_button')){
            console.log('BOOKED!!!!!')
        } else {
            console.log('BUYED!!!!!')
        }


        $('#tickets_numbers').text("0")
        $('#summ').text("0")
        var show_id = $("#show_number").html()


        if ($(this).hasClass('book_button')){
            $.ajax({
                url: "{% url 'pages:book_ticket_per_place' %}",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'booked_places': characters, 'show_id': show_id}),
                headers: {
                    "X-Request-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: (data) => {
                    console.log(data);
                }
            });
        } else {

            $.ajax({
                url: "{% url 'pages:book_ticket_per_place' %}",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({'bought_places': characters, 'show_id': show_id}),
                headers: {
                    "X-Request-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: (data) => {
                    console.log(data);
                }
            });
            }


    });

    {% comment %} $('#book_button').click(function(){
        for(booked_place in character_objects){
            place = character_objects[booked_place]
            $(place).css({"border": "none", "background-color": "Grey"}).animate({
                borderWidth: 4
            }, 50);

            $(place).prop('id', function(_, currentID){
                return currentID.replace('selected', 'booked');
            })
        }

        $('#tickets_numbers').text("0")
        $('#summ').text("0")
        var show_id = $("#show_number").html()

        $.ajax({
            url: "{% url 'pages:book_ticket_per_place' %}",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({'booked_places': characters, 'show_id': show_id}),
            headers: {
                "X-Request-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            success: (data) => {
                console.log(data);
            }
        });
    }); {% endcomment %}



    </script>
{% endblock content %}

