{% extends "layout/_base_pages.html" %}

{% load static %}

{% block content %}

<head>
  <script type="text/javascript" src="{% static 'pages/js/jQuery_3.6.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'pages/js/popper.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'pages/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'pages/js/bootstrap.min.js' %}"></script>


  <link rel="stylesheet" href="{% static 'pages/css/style.css'%}">

</head>

<style type="text/css">
  body { 
   background: url('{{ though_background.background.image.url }}');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   backdrop-filter: sepia(90%);
   box-shadow: inset 0 0 100px 50px #cccccc;
  
  };

</style>


<div class="row my-3 justify-content-around">
  <div class="col-6 col-md-4 col-xl-3 mx-3">
    <div class="form-group">
      <select class="custom-select" id="cinema_index">
        <option id="cinema_hasnt_changed">всі кінотеатри</option>
        {% for cinema in cinemas %}
          <option>{{ cinema.title_cinema }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="col-6 col-md-4 col-xl-2 mx-3">
    <div class="form-group">
      <select class="custom-select" id="hall_index">
        <option id="cinema_hall_hasnt_changed">всі зали</option>
        {% for hall in cinema_halles %}
          <option id="hall_from_{{ hall.cinema.title_cinema }}">{{ hall.cinema_hall_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="col-6 col-md-4 col-xl-2 mx-3">
    <div class="form-group" id="date_group">
      <select class="custom-select" id="date_index">
        <option id="cinema_hall_hasnt_changed">Весь тиждень</option>
        {% for date in date_of_seanses %}
          <option id="date_{{ date|date:"j_E" }}">{{ date|date:"j E" }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="col-6 col-md-4 col-xl-3 mx-3">
    <div class="form-group" id="movie_group">
      <select class="custom-select" id="movie_index">
        <option id="movie_hasnt_changed">всі фільми</option>
        {% for movie in movie_set %}
          <option id="movie_{{ movie }}">{{ movie }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-12 col-lg-10 mx-auto">
  {% for date, seanses in date_of_seanses.items %}
    <div class="row justify-content-center" id="schedule_date_table">
      <h3 class="text-white">{{ date|date:"j E, l" }}</h3>
      <div class="table-responsive">
        <table class="table table-dark ml-3 mr-5 px-3">
          <thead>
            <tr>
              <th scope="col">час</th>
              <th scope="col">фільм</th>
              <th scope="col">кінотеатр</th>
              <th scope="col">зал</th>
              <th scope="col">ціна</th>
              <th scope="col">броньувати</th>
            </tr>
          </thead>
          <tbody id='senses_table_body'>
            {% for show in seanses %}
                <tr id="schedule_content_{{ show.id }}">
                    <th>{{ show.time_show }}</th>
                    <td>{{ show.movie.title_movie }}</td>
                    <td>{{ show.cinema_hall.cinema.title_cinema }}</td>
                    <td>{{ show.cinema_hall.cinema_hall_name }}</td>
                    <td>{{ show.cost }} грн.</td>
                    <td><a href="{% url "pages:front_book_ticket" show_pk=show.id %}"><img src="{% static 'pages/images/ticket_icon.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
</div>
</div>


<script>


  //sorting by cinema
  $("#cinema_index").change(function () {
    var title_cinema = $(this).val()
    if(title_cinema == 'всі кінотеатри'){
      $("tr[id^=schedule_content]").show()
      cinema_hall_name = $(hall_index).val('всі зали')
      $('option[id^="hall_from"').show()
    } else {
      $('option[id^="hall_from"').hide()
      $('option[id$='+ title_cinema +']').show()
    $.ajax({
      url: "{% url 'pages:schedule_sort_cinema' %}",
      data: {
        'title_cinema': title_cinema
      },
      dataType: 'json',
      success: function(data) {
        if (data){
          $("tr[id^=schedule_content]").hide()
          $.each(data.this_film_seanses, function(i, val){
            $("tr[id$="+ val +"]").show() 
          });
        } 
      },
    })
    };
  });



  //sorting by halls
  $("#hall_index").change(function(){
    var cinema_hall_name = $(this).val()
    if(cinema_hall_name == 'всі зали'){
      $("tr[id^=schedule_content]").show()  
    } else {
      $.ajax({
        url: "{% url 'pages:schedule_sort_cinema_hall' %}",
        data: {
          'cinema_hall_name': cinema_hall_name
        },
        dataType: 'json',
        success: function(data) {
          if (data){
            console.log(data)
            $("tr[id^=schedule_content]").hide()
            $.each(data.show_filtered_id, function(i, val){
              $("tr[id$="+ val +"]").show()
            })
          }
        }
      })
    }; 
  });


  //sorting by dates
  $("#date_index").change(function(){

    var choosen_date = $('#date_group option:selected').val()
    var date_index = $(this).val()
    
    if(date_index == 'Весь тиждень'){
      $("tr[id^=schedule_content]").show()
      $('[id=schedule_date_table]').show()
    } else {
      $('[id=schedule_date_table]').hide()
      choosen_table = $("h3:contains('"+ choosen_date +"')").parent().show()
    }
  });

  //sorting by films
  $("#movie_index").change(function(){

    var movie_index = $(this).val()
    
    if(movie_index == 'всі фільми'){
      $("tr[id^=schedule_content]").show();
    } else {
      console.log(movie_index)
      $("tr[id^=schedule_content]").hide()

    }
  });
    
  

</script>


{% endblock content %}