{% extends "layout/_base_pages.html" %}

{% block content %}
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>
<h2>Тестовая проверка расположения хидеров и полей страницы</h2>

{% endblock content %}