
.logo_navbar {
    height: 100%;
    max-height: 25px;
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.card_table_title {
    margin-left: 80px;
}

.logo_tables_command {
    height: 100%;
    max-height: 35px;
    width: auto;
}

.dataTables_paginate {
    margin-right: 45%;
}

.image_test_card {
    object-fit: cover;
    margin-bottom: 15px;
    /* height: 100%; */
    height: 150px;
    /* width: auto; */
    width: 220px;
    border: 1px solid #000000;
    border-radius: 25% 10%;
}

/* 
.single_form_container {
    position: relative;
} */

.del_icon {
    /* position: absolute; */
    cursor: pointer;
    height: 100%;
    max-height: 40px;
    /* right: -5px; */
    /* top: -5px; */
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: #434246;
}

.del_icon_2 {
  position: absolute;
  cursor: pointer;
  height: 100%;
  max-height: 40px;
  right: -5px;
  top: -5px;
  /* border: 2px solid #000000;
  border-radius: 25px; */
  /* background-color: #434246; */
}

.image_control_button_group{
    /* position: absolute; */
    bottom: 55px;
    /* color: red; */
    /* left: 7px; */
}

/* .image_control_button {
    background-color: red;
} */

#image-container{
    margin : 20px;
    object-fit: cover;
    height: 150px;
    width: 175px;
    background-color:#eee;
    border: 1px dashed #000;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 15%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0bdb15;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0bdb15;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #banner_top_container{
    border-radius: 30px;
    border: solid 1px;
  }


  #through_banner{
    border-radius: 30px;
    border: solid 1px;
    margin-bottom: 5%;
  }

  
  #banner_promo_news{
    border-radius: 30px;
    border: solid 1px;
    margin-bottom: 15%;
  }




  .cinema_preview{
    margin-top : 20px;
    margin-bottom : 20px;
    object-fit: cover;
    height: 150px;
    width: 150px;
    background-color:#eee;

  }

  .cinema_preview_banner{
    margin-top : 20px;
    margin-bottom : 20px;
    object-fit: cover;
    height: 150px;
    min-height: 75px;
    width: 200px;
    min-width: 100px;
    background-color:#eee;

  }

  #main_form_container{
    margin-left: 10%;
    margin-right: 10%;
  }

  .space { 
    margin: 0; 
    padding:0; 
    height:150px; 
  }



  /* cinema-hall styles */
  /* input#image-button{
    background: #ccc url('icon.png') no-repeat top left;
    padding-left: 16px;
    height: 16px;
} */