{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %} баннеры {% endblock title%}

{% block content %}

<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/banner_forms.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cinema/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/adminlte.min.css' %}">

</head>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ image_form_set.management_form }}  
        <div class="row">
            {% for form in image_form_set %}
                <div class="col-2">
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <ul> 
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                        {% comment %} {% for field in form.visible_fields %}
                                
                                {% if field.errors %}
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                    <p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>                                       
                        {% endfor %} {% endcomment %}
                        <div id="single_form_container">
                            <a id="del_image" href="#">
                                <img src="{% static 'cinema/images/del_image.png'%}" class="del_icon">
                            </a>
                            {{ form.image }}
                            {% comment %} <div class="btn-group image_control_button_group" role="group" aria-label="Basic example">
                                <button >удалить</button>
                                <button >добавить</button>
                            </div> {% endcomment %}
                            <div class="btn-group btn-group-toggle image_control_button_group" data-toggle="buttons">
                                <label class="btn btn-secondary bg-navy">
                                <input type="radio" name="options" id="option_a2" autocomplete="off"> удалить
                                </label>
                                <label class="btn btn-secondary bg-navy">
                                <input type="radio" name="options" id="option_a3" autocomplete="off"> добавить
                                </label>
                            </div>

                            {{ form.DELETE }}
                        </div>



                </div>
            {% endfor %}
    {% comment %} {{ image_form_set.empty_form.as_p }} {% endcomment %}


        </div>
        <input type="submit" value="сохранить">
</form>
        




















{% comment %} 
    <h1>Группа форм для загрузки картинки в галерю</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form_set.management_form }}
        {% if image_form_set.non_form_errors %}
            <ul>
                {% for error in image_form_set.non_form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for form in image_form_set %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% if form.non_field_errors %}
                <ul> 
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>
            {% endfor %}
        {% endfor %}

        <input type="submit" value="сохранить">
    </form> {% endcomment %}



    </body>



{% endblock content %}