{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %} баннеры {% endblock title%}

{% block content %}

<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/banner_forms.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cinema/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'cinema/css/adminlte.min.css' %}">

</head>

<h2 class="text-center">На главной верх</h2>
<div id="main_top_banner">
    <form method="post" enctype="multipart/form-data" action="." id="banner_form">
        {% csrf_token %}
        {{ image_form_set.management_form }}

            <div class="row" id="form_set">
                {% for form in image_form_set %}
                    <div class="col-2 mt-5">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="single_form_container">
                            {{ form.image }}
                            {{ form.DELETE }}
                            <img src={% static "cinema/images/del_image.png" %} id="delete_button" class="del_icon">
                            {% comment %} <input type="button" value="delete" id="delete_button"> {% endcomment %}
                            <input type="button" value="добавить" id="add_button" class="btn btn-outline-dark btn-sm btn-block">
                            {% comment %} <button class="button-40" role="button">Button 40</button> {% endcomment %}
                        </div>
                    </div>
                {% endfor %}
                    <div class="col-2">
                        <input type="button" value="Добавить фото" id="add_more">
                    </div>
            </div>
            <div id="empty_form_container" style="display:none">
                <div class="col-2 single_form_container mt-5" id="empty_form">
                    <div>
                        {{ image_form_set.empty_form.image }}
                        {{ image_form_set.empty_form.DELETE }}
                        <img src={% static "cinema/images/del_image.png" %} id="delete_button" class="del_icon">
                        <input type="button" value="добавить" id="add_button" class="btn btn-outline-dark btn-sm btn-block">
                        {% comment %} <input type="button" value="delete" id="delete_button"> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" value="сохранить" id="save_button" class="mt-5">
                {% comment %} <input type="button" value="Add More" id="add_more"> {% endcomment %}
            </div>
        </div>
    </form>
</div>

        














{% comment %} 
<div id="single_form_container">
    <a id="del_image" href="#">
        <img src="{% static 'cinema/images/del_image.png'%}" class="del_icon">
    </a>
    {{ form.image }}

    <div class="btn-group btn-group-toggle image_control_button_group" data-toggle="buttons">
        <label class="btn btn-secondary bg-navy">
        <input type="radio" name="options" id="option_a2" autocomplete="off"> удалить
        </label>
        <label class="btn btn-secondary bg-navy">
        <input type="radio" name="options" id="option_a3" autocomplete="off"> добавить
        </label>
    </div>

    {{ form.DELETE }}
</div>
<input type="button" value="Add More" id="add_more">
    <div id="empty_form" style="display:none">
        <table class='no_error'>
            {{ serviceFormset.empty_form.as_table }}
        </table>
    </div>
</div>
 {% endcomment %}



{% comment %} 
    <h1>Группа форм для загрузки картинки в галерю</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form_set.management_form }}
        {% if image_form_set.non_form_errors %}
            <ul>
                {% for error in image_form_set.non_form_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for form in image_form_set %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% if form.non_field_errors %}
                <ul> 
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>
            {% endfor %}
        {% endfor %}

        <input type="submit" value="сохранить">
    </form> {% endcomment %}



    </body>



{% endblock content %}