{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}список пользователей{% endblock title%}

{% block content %}
<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'cinema/js/DataTables/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/table_scripts.js' %}"></script>
    
</head>
<body>

    <div class="row">
        <div class="col-12">
        <div class="row mb-3">
            <div class="col-2 offset-md-5 mb-3">
                <h3 class="h3">пользователи<h3>
            </div>
            <div>
            </div>
{% comment %} 
            <div class="col-3 offset-md-2">
                <div class="form-inline">
                    <div>
                        <form>
                            {{ form.keyword }}
                            <button type="submit"> поиск </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="row" >
            <div class="col-12">
            <div class="card text-center py-3 px-4">
                <div class="card-body table-responsive p-0 ">
                <table id="table_id" class="row-border" style="width:100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>дата регистрации</th>
                        <th>день рождения</th>
                        <th>email</th>
                        <th>телефон</th>
                        <th>ФИО</th>
                        <th>псевдоним</th>
                        <th>город</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users_list %}
                            <tr>
                                <td class="align-middle">{{ user.id|default_if_none:"-----" }}</td>
                                <td class="align-middle">11-7-2014</td>
                                <td class="align-middle">{{ user.born|default_if_none:"-----" }}</td>
                                <td class="align-middle">{{ user.email|default_if_none:"-----" }}</td>

                                <td class="align-middle">{{ user.phone_number|default_if_none:"-----" }}</td>

                                <td class="align-middle">{{ user.surname|default_if_none:"-----" }} {{ user.name|default_if_none:"" }}</td>
                                <td class="align-middle">{{ user.nickname|default_if_none:"-----" }}</td>
                                <td class="align-middle">{{ user.town|default_if_none:"-----" }}</td>
                                <td><a href="{% url 'cinema:change_user_data_by_admin' pk=user.id %}"><img src="{% static 'cinema/images/pencil.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                                <td><a href="{% url 'users:del_user' pk=user.id %}"><img src="{% static 'cinema/images/bin.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                </div>
            </div>
            <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
</body>
{% endblock content %}