{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=l, shrink-to-fit=no">
        <title>{% block title %} главная {% endblock title %}</title>

        <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'cinema/frameworks/bootstrap-4.6.2/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'cinema/frameworks/bootstrap-4.6.2/css/bootstrap.min.css' %}">
        
      </head>
    <body class="py-0 container">
        <main>
            <div class="row">
                </div class="col-12">

                {% block upperheader %}
                {% endblock upperheader %}                    

                </div>
            </div>
            <div>
                <header class="p-3 bg-transparent text-dark">
                      <div class="row">
                        <div class="col-lg-1 d-none d-lg-block mb-3">
                            <a href="{% url 'pages:main_page' %}"><img src="{% static 'pages/images/cinema_logo_3.png' %}" class="logo_responsive"></a>
                            
                        </div>
                        <div class="col-12 col-lg-3 d-block my-0 my-md-3">
                            <div class="container d-flex">
                                <input type="search" class="form-control form-control-dark " placeholder="пошук по сайту" aria-label="Search">
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 my-3 my-md-3">
                                <div class="row justify-content-center align-self-center">
                                    <div class="btn-group btn-group-lg">
                                    {% if user.is_authenticated %}
                                        <a class="btn btn-secondary" href="{% url 'users:log_out' %}" class="nav-link">вихід</a>
                                    {% else %}    
                                        <a class="btn btn-secondary" href="{% url 'users:sign_in' %}" class="nav-link">логін</a>
                                    {% endif %}

                                    {% if user.is_anonymous %}
                                        <a class="btn btn-secondary" href="{% url 'users:sign_up' %}" class="nav-link">реєстрація</a>
                                    {% endif %}

                                    {% if user.is_authenticated and user.is_superuser %}
                                        <a class="btn btn-secondary" href="{% url 'cinema:all_users' %}" class="nav-link">cms</a>
                                    {% elif user.is_authenticated %}
                                        <a class="btn btn-secondary" href="{% url 'users:change_user_data' %}" class="nav-link">мій кабінет</a></li>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 text-center">
                            <div class="container mt-0 mb-3 mt-lg-3">
                                <img src="{% static 'pages/images/fb.png'%}" class="nav_sm_logo">
                                <img src="{% static 'pages/images/twitter.png'%}" class="nav_sm_logo">
                                <img src="{% static 'pages/images/google.png'%}" class="nav_sm_logo">
                                <img src="{% static 'pages/images/instagram.png'%}" class="nav_sm_logo">
                                <img src="{% static 'pages/images/ok.png'%}" class="nav_sm_logo">
                                <img src="{% static 'pages/images/vk.png'%}" class="nav_sm_logo">
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 text-center">
                            <div class="row"><div class="col-12"><p class="h5">phone nember 1</p></div></div>
                            <div class="row"><div class="col-12"><p class="h5">phone nember 2</p></div></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class='col-12 col-lg-10'>
                  <nav class="navbar navbar-expand-lg navbar navbar-light px-4 bg-muted text-dark border border-bottom py-2 mx-auto text-center" style="background-color: #E7ECFF;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                          <a class="nav-link mx-3" href="#">афіша <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link mx-3" href="{% url 'pages:front_schedule' %}">розклад <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link mx-3" href="#">скоро в прокаті <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link mx-3" href="{% url 'pages:all_cinemas' %}">кінотеатри <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link mx-3" href="{% url 'pages:front_all_promo' %}">акції <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link mx-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            про кінотеатр
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">дитяча кімната</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">про кінотеатр</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">реклама</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">кафе-бар</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">новини</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">контакти</a>
                          </div>
                      </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-lg-2">
                        <button class="btn btn-secondary">UA</button>
                        <button class="btn btn-secondary">RU</button>
                    </div>

                    </div>
                </div>
              </div>
            </div>
        </div>
        </header>
        </main>
            {% block content %}
            {% endblock content %}

    <footer class="container py-5" style="background-color: #E7ECFF;">
        <div class="row px-3">
            
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><h5><a class="text-dark" href="#">Мобильные приложения</a></h5></li>
                    <li>
                        <div class="row">
                            <img src="{% static 'pages/images/google_play_store(1).png' %}" width=auto height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
                            <img src="{% static 'pages/images/app_store.png' %}" width=auto height="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
                        </div>
                    </li>
                    <li class="text-small">Разработка сайтов</li>
                    <li class="text-small">AVADA-MEDIA</li>
                    <li><small class="d-block mb-3 text-muted">&copy; 2017-2020</small></li>
                </ul>
            </div>
            <div class="col-6 col-md">
            <h5>Афиша</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Рассписание</a></li>
                <li><a class="text-muted" href="#">Скоров прокате</a></li>
                <li><a class="text-muted" href="#">Кинотеатры</a></li>
                <li><a class="text-muted" href="#">Акции</a></li>
            </ul>
            </div>
            <div class="col-6 col-md">
            <h5>О кинотеатре</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Новости</a></li>
                <li><a class="text-muted" href="#">Реклама</a></li>
                <li><a class="text-muted" href="#">Кафе-Бар</a></li>
                <li><a class="text-muted" href="#">Контакты</a></li>
            </ul>
            </div>
            <div class="col-4 col-md">
                <div class="container d-flex h-100">
                    <div class="row justify-content-center align-self-center">
                        <div class="container_with_sm">
                            <img src="{% static 'pages/images/fb.png'%}" class="nav_sm_logo">
                            <img src="{% static 'pages/images/twitter.png'%}" class="nav_sm_logo">
                            <img src="{% static 'pages/images/google.png'%}" class="nav_sm_logo">
                            <img src="{% static 'pages/images/instagram.png'%}" class="nav_sm_logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        </div>
    </main>
    </body>
</html>
