{% extends "layout/_base_pages.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
</head>

<div id="background_list_of_films">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'pages/images/cinema_top_image.jpg'%}" id="horizontal_top_banner" class="text-center">
        </div>
    </div>
    <div class="row mt-3 text-white">
        <div class="col-12" align="center">
            <h3>{% trans 'Наші кінотеатри' %}</h3>
        </div>
    </div>
    <div class="row text-white">
        {% for cinema in cinema_list %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-2 mx-3 text-center">
                <div class="row justify-content-around" align="center">
                    <a href="{% url 'pages:about_cinema' pk=cinema.pk %}">
                        <div class="col-12">
                            <img src="{{ cinema.logo.image.url }}" class="cinema_preview"/>   
                        </div>
                    </a>
                </div>
                <p>{{ cinema.title_cinema_uk }}</p>
            </div>
        {% endfor %}
    </div>
<div>
{% endblock content %}