{% extends "layout/_base_pages.html" %}

{% load static %}

{% block content %}

<style type="text/css">
    body { 
     background: url('{{ though_background.background.image.url }}');
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     backdrop-filter: sepia(90%);
     box-shadow: inset 0 0 100px 50px #cccccc;
    };
</style>


<div class="row">
    <div class="col-12">
        <h2 class="text-white">головна сторінка</h2>
        {% for page in pages %}
            <h2 class="text-white">{{ page.title }}</h2>
        {% endfor %}
    </div>
</div>







{% endblock content %}