{% extends "layout/_base_pages.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
</head>



<div id="background_list_of_films" class="text-white">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'pages/images/promo_top_2.jpg'%}" id="horizontal_top_banner" class="text-center">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12" align="center">
            <h3>{% trans 'Акції та знижки' %}</h3>
        </div>
    </div>

    <div class="row ml-0 ml-lg-2 px-3">
        <div class="col-10">
            <div class="row bg-none bg-lg-secondary rounded mb-5 mx-auto">
                {% for promo in all_promo %}    
                    <div class="col-12 col-lg-2">
                        <a href="{% url 'pages:front_promo_detail' pk=promo.id %}">
                            <div class="card my-3 mx-3" style="width: 18rem;">
                                {% comment %} {% if promo.main_image. %}
                                    <img class="card-img-top" src="{{ promo.main_image.image.url }}" alt="Card image cap">
                                {% else %}
                                    <h3>Smt with image</h3>
                                {% endif %} {% endcomment %}
                                <img class="card-img-top" src="{{ promo.main_image.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ promo.title_news_or_promo_uk }}</h5>
                                    <h5 class="card-title">{{ promo.date_news_or_promoptions }}</h5>
                                    <p class="card-text">{{ promo.description_news_or_promo_uk|truncatewords:25 }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-2 text-center ml-0 d-none d-lg-block">
            <img src="{% static 'pages/images/context_advertising_vertical.jpg' %}" id="vertical_advertising_mini">
        </div>

    </div>
</div>



{% endblock content %}