{% extends "layout/_base_cinema.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}список пользователей{% endblock title%}

{% block content %}
<head>
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'cinema/js/DataTables/datatables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
    
    <script type="text/javascript" src="{% static 'cinema/js/jQuery_3.6.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cinema/js/table_scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/mailing.js' %}"></script>

    
    
</head>
<body>
    <div class="row" id="main_card_table">
        <div class="card col-10 py-3 px-4 mx-5" id="main_card">
            <div class="row my-5 mx-5">
                <div class="col-3">
                    <p>Обрати email кому відправити</p>
                </div>
                <div class="col-3">
                    <p><input type="checkbox" id="all_users_checkbox"> Всі користувачі із списку</p>
                </div>
                <div class="col-2">
                    <p><input type="checkbox" id="selectively_users"> Вибірково</p>
                </div>
                <div class="col-3">
                    <button class="btn btn-secondary" id="choose_users_button">обрати користувачів</button>

                </div>
            </div>

        <div class="row">  
            <div class="col-6">
                <div class="row mx-5">
                    <div class="col-6">
                        <p>завантажити html лист</p>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-secondary" id="download_button">завантажити</button>

                    </div>
                </div>
                <div class="row mx-5 my-3">
                    <div class="col-6">
                        <p>завантаженний файл</p>
                    </div>
                    <div class="col-6">
                        <strong><p id='downloaded_template_name'></p></strong>
                    </div>
                </div>
                <div class="row mx-5 my-3">
                    <div class="col-6">
                        <p>Шаблон який буде розіслане</p>
                    </div>
                    <div class="col-6">
                        <strong><p id='current_template_name'></p></strong>
                    </div>
                </div>
                <div class="row ml-5 my-3">
                    <div class="col-4">
                        <p>Кількість листів: <strong>{{ counter_of_sending.many_of_sended_list }}</strong></p>
                        
                    </div>
                    <div class="col-4">
                        <p>Розсилку виконано: <strong id='mailing_statistic'></strong></p>
                    </div>
                </div>
            </div>
            <div class="col-4 border border-dark rounded">
                <form method="post" enctype="multipart/form-data" id="formset_saved_templates">
                    {% csrf_token %}

                    {{ update_mailing_formset.management_form }}
                        
                        {% for update_form in update_mailing_formset %}
                        {% for hidden in update_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% if update_form.errors %}
                            <div class="row" id="test-row!">
                                <div class="col-10 mt-3 mb-3">
                                    {% for field in update_form %}
                                        {% for error in field.errors %} 
                                            <p class="my-1 text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if update_form.non_field_errors %}
                            <div class="row">
                                <div class="col-10 mt-3 mb-3">
                                    {% for error in update_form.non_field_errors %}
                                        <p class="my-1 text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                            <div class="mt-3">
                                <div class="row" id="visible_block_{{ update_form.instance.id }}">
                                    <div class="col-1"><input type="checkbox" id="saved_template_checkbox_{{ update_form.instance.id }}"></div>
                                    <div class="col-6"><p id="saved_template_name">{{ update_form.instance.return_filename }}</p></div>
                                    <div class="col-5"><p><a href="#" id="delete_link">видалити</a></p></div>
                                </div>

                                <div class="row" id="hidden_block_{{ update_form.instance.id }}">
                                    <div class="col-12">
                                        <p id="mailing_statistic">{{ update_form.instance.return_current_mailing_statistics }}</p>
                                        <p>{{ update_form.users }}</p>
                                        <p>DELETE_CUERRENT: {{update_form.DELETE}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <input type="submit" value="внести зміни" id="update_mailing_submit">
                </form>
            <div>
        </div> 
    </div>
        </div>
        <div class="row">
            <div class='col-12 text-center mt-3'>
                <button type="button" id="main_submit_button" class="btn btn-secondary mt-3">розпочатки розсилку</button>
            </div>
        </div>
    </div>
    


    <div class="row">
        <div class="col-10">
            <form method="post" novalidate enctype="multipart/form-data" id="form_for_letter">
                {% csrf_token %}
                {{ list_form.template }}
                <p> {{ list_form.users }} </p> 
                <input type="submit" class="mt-5 mb-5" value="надіслати данні" id="new_template_submit">       
            </form>
        </div>
    </div>
</div>





    <div class="row" id="users_list" >
        <div class="col-10 text-center">
        <div class="card text-center py-3 px-4">
            <div class="card-body table-responsive p-0 ">
            <table id="table_mailing" class="row-border" style="width:100%">
                <thead>
                <tr>
                    <th>!!</th>
                    <th>ID</th>
                    <th>дата регистрации</th>
                    <th>день рождения</th>
                    <th>email</th>
                    <th>телефон</th>
                    <th>ФИО</th>
                    <th>псевдоним</th>
                    <th>город</th>
                    {% comment %} <th> </th>
                    <th> </th> {% endcomment %}
                </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                        <tr>
                            <td><input type="checkbox" id="mailing_checkbox"></td>
                            <td class="align-middle">{{ user.id|default_if_none:"-----" }}</td>
                            <td class="align-middle">11-7-2014</td>
                            <td class="align-middle">{{ user.born|default_if_none:"-----" }}</td>
                            <td class="align-middle">{{ user.email|default_if_none:"-----" }}</td>

                            <td class="align-middle">{{ user.phone_number|default_if_none:"-----" }}</td>

                            <td class="align-middle">{{ user.surname|default_if_none:"-----" }} {{ user.name|default_if_none:"" }}</td>
                            <td class="align-middle">{{ user.nickname|default_if_none:"-----" }}</td>
                            <td class="align-middle">{{ user.town|default_if_none:"-----" }}</td>
                            {% comment %} <td><a href="{% url 'cinema:change_user_data_by_admin' pk=user.id %}"><img src="{% static 'cinema/images/pencil.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td>
                            <td><a href="{% url 'users:del_user' pk=user.id %}"><img src="{% static 'cinema/images/bin.png' %}" class="logo_tables_command brand-image img-circle elevation-3" style="opacity: .8"></a></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            </div>
        </div>
        <button type="button" id="submit_to_changed_users" class="btn btn-secondary ">відправити обранним користувачам</button>

        <!-- /.card -->
    </div>
    
    <!-- /.row -->
</body>
{% endblock content %}